 
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #6c757d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {

    color: #007bff;
    font-weight: bold;
}
form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 10px #007bff;
    width: 100%;
    max-width: 400px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"], input[type="date"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
   
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 10px #007bff;
    
}

input[type="submit"]:hover {
    background-color: #e74c3c;
}

/* Style pour les messages d'erreur */
input:invalid {
    border-color: #333;
}

input:invalid:focus {
    border-color: #333;
}

input:valid {
    border-color: #333;
}
.btn-retour {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 10px #007bff;
}

.btn-retour:hover {
    background-color: #e74c3c;
}
#timer {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffcc00;
    color: black;
    padding: 10px;
    font-size: 16px;
    border-bottom-left-radius: 10px;
}
